/* CSS reset: http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font-family: 'Times', serif;
	font-size: 16px;
	line-height: 20px;
	color: #252519;
}
b, strong {
	font-weight: bold;
}
i {
	font-style: italic;
}
html, body {
	height: 100%;
}

/* Home page */
/* evenly spaces direct children */
.evenly-space {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	align-content: space-around;
	padding-top: 80px;
}
#about, #definitions {
	padding: 30px;
	width: 440px;
    font-family: monospace;
	border-radius: 4px;
}
#about h1, #definitions h1 {
	display: block;
    font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 6px;
	border-radius: 4px;
}
#about {
	border: 1px solid black;
}
#definitions {
	color: white;
	background-color: #000;
}


/* nav bar */
#nav {
	text-align:center;
	position: sticky;
    top: 0;
    z-index: 1;
    padding: 20px 0;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);	
}
#nav li {
	display:inline;
}
#nav li a {
	text-decoration: none;
    padding: 0 40px;
    font-size: 1.3em;
	color: #000000d6;
	transition: color .25s;
}
#nav li a:not(.selected):hover {
	color: rgb(53, 209, 157);
}
#nav #search {
	position: absolute;
    font-size: 1em;
    right: 4%;
}

/* poemIndex */
.center-column-wide {
	position: relative;
	width: 770px;
    min-width: 790px;
    max-width: 790px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 120px;
	margin-top: 40px;
	font-size: 1.2em;
}
.center-column-wide .poem-link {
	display: block;
	transition: all .15s, left .8s, margin-left 1s, margin-right 1s, margin-top .8s;
	cursor: pointer;
	position: relative;
	top: 0;
	border-radius: 3px;
	width: 370px;
	margin-top: 30px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.4em;
    font-family: monospace;
	font-size: 1.1em;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	background-color: #1ec4a7;
	color: white;
	text-decoration: none;
}
.center-column-wide .poem-link:hover {
	box-shadow: 0 4px 5px rgba(0,0,0,0.2);
	top: -2px;
}
.center-column-wide .poem-link:nth-child(even) {
	background-color: #04b6ef;
	left: 52%;
}

.center-column-wide .poem-link .author {
	display: block;
    text-align: right;
	font-size: .95em;
	padding-right: 15px;
}

.center-column-wide .poem-link .timestamp {
	position: absolute;
	transition: bottom .15s;
    left: 11px;
    bottom: -27px;
    font-size: .75em;
    color: black;
}
.center-column-wide .poem-link:hover .timestamp {
	bottom: -29px;
}

/* poemShow */
#single-poem-view {
	position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-family: monospace;
    line-height: 1.4em;
    font-size: 1.6em;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	border: 1px solid lightgrey;
	padding: 40px;
	background-color: white;
}
#single-poem-view .poem .author,
#single-poem-view .poem .timestamp {
	position: absolute;
	color: white;
	font-size: .7em;
	bottom: -35px;
	text-shadow: 0px 0px 3px #4f4f4f;
}
#single-poem-view .poem .author {
    right: 10px;
	text-decoration: none;
	transition: color .25s;
}
#single-poem-view .poem .author:hover {
	color: black;
}
#single-poem-view .poem .timestamp {
    left: 10px;
}

/* breakpoints */
@media (max-width: 960px) {
	.center-column-wide {
		width: 480px;
		min-width: 500px;
		max-width: 500px;
	}
	.center-column-wide .poem-link {
		margin-top: 60px;
		margin-left: auto;
		margin-right: auto;
	}
	.center-column-wide .poem-link:nth-child(even) {
		left: 0;
	}
	.evenly-space {
		padding-top: 0;
	}
}

/* max-chars per haiku-line: 28 */
/* fade from #0000FF to #04b6ef */